<a href="https://colab.research.google.com/github/MSWon/Python-dev-moim/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 딕셔너리형 & 시리즈형 & 프레임만들기
    +슬라이싱

In [0]:
import pandas as pd

######데이터세팅-DataFrame######
name_ser = pd.Series(["이현지","이둥","julia","아가"],index = ["a","b","c","d"])
salary_ser=pd.Series([90000,2000,40000,105],index = ["a","b","c","d"] )
month_ser=pd.Series([3,6,20,10],index = ["a","b","c","d"])

result= pd.DataFrame({
    "name" :name_ser,
    "salary":salary_ser,
    "month":month_ser
})
result["total_salary"] = result["salary"] * result["month"]
print(result)
######데이터세팅-DataFrame######


#####슬라이싱#####
###DataFrame안에 loc함수이용
##컬럼 슬라이싱
#index b~c까지 total_salary컬럼
print(result.loc["b":"c","total_salary":])

##인덱스기준으로 슬라이싱
#행(인덱스)1:2->1행, 열3:0->3열
print(result.iloc[1:2,3:])

##데이터 변경
#[]안에 좌표
result.loc["d","salary"] = 500

##데이터 행삽입
#[]행설정 후 값 []안에 배열로 담기
result.loc["e"]=["구기수",200,1,200]
print(result)

    name  salary  month  total_salary
a    이현지   90000      3        270000
b     이둥    2000      6         12000
c  julia   40000     20        800000
d     아가     105     10          1050
   total_salary
b         12000
c        800000
   total_salary
b         12000
    name  salary  month  total_salary
a    이현지   90000      3        270000
b     이둥    2000      6         12000
c  julia   40000     20        800000
d     아가     500     10          1050
e    구기수     200      1           200

### 엑셀형식으로 저장

In [0]:
import pandas as pd
######데이터세팅-DataFrame######
name_ser = pd.Series(["이현지","Hyun","julia","Lee"],index = ["a","b","c","d"])
salary_ser=pd.Series([90000,2000,40000,105],index = ["a","b","c","d"] )
month_ser=pd.Series([3,6,20,10],index = ["a","b","c","d"])

result = pd.DataFrame({
    "name":name_ser,
    "salary":salary_ser,
    "month":month_ser
})
print(result)
######데이터세팅-DataFrame######


#####엑셀형식으로 저장하기#####
#.to_csv encoding --데이터를 내보낼때 
result.to_csv("saved.csv", encoding="utf-8-sig")

# read_csv index_col --데이터를 불러 올때
result_saved=pd.read_csv("saved.csv", index_col=0)
print(result_saved)

    name  salary  month
a    이현지   90000      3
b   Hyun    2000      6
c  julia   40000     20
d    Lee     105     10
    name  salary  month
a    이현지   90000      3
b   Hyun    2000      6
c  julia   40000     20
d    Lee     105     10

### Series와 DataFrame연산
    +  null 값처리  
    +  연산시 값이 없을 때
    +  Dataframe바로 만들때

In [0]:
import pandas as pd
import numpy as np

#####Series로 연산하기#####
test1_ser=pd.Series([1,2],index=["a","b"])
test2_ser=pd.Series([8,6,2],index=["b","c","d"])
print(test1_ser)
print(test2_ser)

###시리즈를 더할 때, 값이 없는 곳에 0을 채워줌
##시리즈 더하기---->Series.add & 0채우기---->fill_value=0
result=test1_ser.add(test2_ser,fill_value=0)
print(result)

#####Dataframe으로 바로 만들어 연산하기#####
###DataFrame으로 바로 만들때 사용-
##--> [[]],index,columns-----------참고:columns안하면 0,1,2,3...으로 매겨짐
test3_ser=pd.DataFrame([[1,2,8],[5,1,4]],
                       index=["a","b"],
                       columns=["1차","2차","3차"]) #연산불가능 원소 "a"
test4_ser=pd.DataFrame([[8,6,2,9],[2,5,1,8],[2,5,3]],
                       index=["b","c","d"],
                       columns=["1차","2차","3차","4차"]) #연산불가능 원소 "d"
print(test3_ser)
print(test4_ser)

a    1
b    2
dtype: int64
b    8
c    6
d    2
dtype: int64
a    False
b    False
c    False
d    False
dtype: bool
a    True
b    True
c    True
d    True
dtype: bool
a     1.0
b    10.0
c     6.0
d     2.0
dtype: float64
   1차  2차  3차
a   1   2   8
b   5   1   4
   1차  2차  3차   4차
b   8   6   2  9.0
c   2   5   1  8.0
d   2   5   3  NaN

### DataFrame마스킹 & 정렬하기

In [0]:
#####배열이 다를 때 더하기#--해당 index에 값이 없으면 0#####
###원소끼리 연산이 불가능할 시  Nan으로 표시됨###
result=test3_ser.add(test4_ser, fill_value=0)
print(result)
#2차컬럼중 5와 같거나 작은것#
print(result["2차"] <= 5)

#---------------------------------------------------확인필요------------------------------------------------------------------- 
# print(result.query("1차> 3 and 2차< 20"))
# Message---->Python keyword not valid identifier in numexpr query
#---------------------------------------------------확인필요-------------------------------------------------------------------

######특정 컬럼의 합######
print("1차컬럼의 합:" , result["1차"].sum())

######특정컬럼을 중심으로 정렬하기######
result=result.sort_values("1차",ascending=False) #ascending=False-> descending
print(result)

     1차   2차   3차   4차
a   1.0  2.0  8.0  NaN
b  13.0  7.0  6.0  9.0
c   2.0  5.0  1.0  8.0
d   2.0  5.0  NaN  NaN
a     True
b    False
c     True
d     True
Name: 2차, dtype: bool
1차컬럼의 합: 18.0
     1차   2차   3차   4차
b  13.0  7.0  6.0  9.0
c   2.0  5.0  1.0  8.0
d   2.0  5.0  NaN  NaN
a   1.0  2.0  8.0  NaN

### DataFrame특정함수 이용하기

In [0]:
######lambda함수######
###전에 있던 결과값에서 *10을 하는 것
result=result.apply(lambda X:X*10)
print(result)

#####apply이용-함수정의######
###결과값을 받아 각 원소에 10을 곱함
###apply(정의한함수명)
def addOne(x):
    return x * 10
result=result.apply(addOne)
print(result)

######replace 함수 정의하기######
###replace()안에 {}으로 어떤값을 :어떻게바꿀 것인지 
result=result.replace({200:201})
print(result)


##형변환##
# result.dtypes
# result.astype('float')
# # result.astype('float')

      1차    2차    3차    4차
b  130.0  70.0  60.0  90.0
c   20.0  50.0  10.0  80.0
d   20.0  50.0   NaN   NaN
a   10.0  20.0  80.0   NaN
       1차     2차     3차     4차
b  1300.0  700.0  600.0  900.0
c   200.0  500.0  100.0  800.0
d   200.0  500.0    NaN    NaN
a   100.0  200.0  800.0    NaN
       1차     2차     3차     4차
b  1300.0  700.0  600.0  900.0
c   201.0  500.0  100.0  800.0
d   201.0  500.0    NaN    NaN
a   100.0  201.0  800.0    NaN

### DataFrame 그루핑 & 필터

In [0]:
import pandas as pd
import numpy as np
######데이터세팅-DataFrame######
Daf=pd.DataFrame([
                ['Apple',7,5,'Fruit'],
                ['Banna',8,1,'Fruit'],
                ['Tomato',1,6,'Vege'],
                ['Carrot',4,3,'Vege']],
            columns=["이름","freq","impo","타입"])
print(Daf)
######데이터세팅-DataFrame######


######그룹바이 한 컬럼의 합계구하기######
###DataFrame.groupby(컬럼명).sum
print(Daf.groupby("타입").sum())

######그룹바이 한 집합별로 연산하기#####
###DataFrame.groupby(컬럼명).aggregate->집합([배열])
print(Daf.groupby('타입').aggregate([min,max, np.average]))

#####FILTER#####
###함수정의 .mean() >
def filteron(x):
    return x ["impo"].mean() <4
##groupby(컬럼명).filter(정의한 함수)
Daf=Daf.groupby("타입").filter(filteron)
print(Daf)
            
###그룹바이 한 컬럼중 특정 데이터만 filter
print(Daf.groupby("타입").get_group("Fruit"))

####
## groupby.(그룹바이할 컬럼명).[연산될 컬럼].apply(.mean)-연산될 컬럼의 mean
Daf["Gap"]=Daf.groupby("타입")["freq"].apply(lambda x:x-x.mean())
print(Daf)

       이름  freq  impo     타입
0   Apple     7     5  Fruit
1   Banna     8     1  Fruit
2  Tomato     1     6   Vege
3  Carrot     4     3   Vege
타입    Fruit  Vege
impo
1       8.0   NaN
3       NaN   4.0
5       7.0   NaN
6       NaN   1.0

KeyError: '타입'

### DataFrame의 다중화

In [0]:
import pandas as pd
import numpy as np
Df=pd.DataFrame(
np.random.randint(1,10,(4,5)),
index=[["1차","1차","2차","2차"],["공격","수비","공격","수비"]],
columns=["1회","2회","3회","4회","5회"])
print(Df)
print(Df[["2회","3회"]].loc["1차"])
print(Df[["2회","3회"]])

       1회  2회  3회  4회  5회
1차 공격   6   5   8   8   2
   수비   9   3   4   1   1
2차 공격   9   7   2   9   2
   수비   3   9   1   3   7
    2회  3회
공격   5   8
수비   3   4
       2회  3회
1차 공격   5   8
   수비   3   4
2차 공격   7   2
   수비   9   1

### DataFrame 피벗함수

In [0]:
import pandas as pd
import numpy as np
######데이터세팅-DataFrame######
Daf=pd.DataFrame([
                ['Apple',7,5,'Fruit'],
                ['Banna',8,1,'Fruit'],
                ['Tomato',1,6,'Vege'],
                ['Carrot',4,3,'Vege']],
            columns=["이름","freq","impo","타입"])
print(Daf)
######데이터세팅-DataFrame######


#####DataFrame 피벗함수#####
###aggfunc으로 frequ중에 큰값 불러오기
Daf=Daf.pivot_table(
    index="impo", columns="타입",values="freq",
    aggfunc=np.max
)
print(Daf)

       이름  freq  impo     타입
0   Apple     7     5  Fruit
1   Banna     8     1  Fruit
2  Tomato     1     6   Vege
3  Carrot     4     3   Vege
타입    Fruit  Vege
impo
1       8.0   NaN
3       NaN   4.0
5       7.0   NaN
6       NaN   1.0

### 연습
    +슬라이싱
    +Null값처리

In [0]:
import pandas as pd
import numpy as np

##NULL값처리##

ID_ser=pd.Series(["교촌치킨","착한식당","피자","와라와라"],index=["GC2020","CHS2020","PZ2020","WA2020"])
Freq_ser=pd.Series([12,50,47,2],index=["GC2020","CHS2020","PZ2020","WA2020"])
Fee_ser=pd.Series([5000,3000,3000,np.nan],index=["GC2020","CHS2020","PZ2020","WA2020"])

result=pd.DataFrame({
    "ID"  : ID_ser,
    "Freq" : Freq_ser,
    "unit Fee": Fee_ser
})

result["total_amt_ser"]= result["Freq"]*result["unit Fee"]
print(result)
# --*--연습-슬라이싱#
print(result.loc["GC2020":"CHS2020",:"ID"])
# --*--연습-데이터삽입#
result.loc["HJ2020"]=["현지",900,100,90000]
print(result)
# --*--연습-데이터변경#
result.loc["WA2020","ID"]="어서와라와라"
print(result)

#Null값처리#
print(result.isnull())
print(result.notnull())
result["unit Fee"]=result["unit Fee"].fillna("데이터없음")
print(result)

           ID  Freq  unit Fee  total_amt_ser
GC2020   교촌치킨    12    5000.0        60000.0
CHS2020  착한식당    50    3000.0       150000.0
PZ2020     피자    47    3000.0       141000.0
WA2020   와라와라     2       NaN            NaN
           ID
GC2020   교촌치킨
CHS2020  착한식당
           ID  Freq  unit Fee  total_amt_ser
GC2020   교촌치킨    12    5000.0        60000.0
CHS2020  착한식당    50    3000.0       150000.0
PZ2020     피자    47    3000.0       141000.0
WA2020   와라와라     2       NaN            NaN
HJ2020     현지   900     100.0        90000.0
             ID  Freq  unit Fee  total_amt_ser
GC2020     교촌치킨    12    5000.0        60000.0
CHS2020    착한식당    50    3000.0       150000.0
PZ2020       피자    47    3000.0       141000.0
WA2020   어서와라와라     2       NaN            NaN
HJ2020       현지   900     100.0        90000.0
            ID   Freq  unit Fee  total_amt_ser
GC2020   False  False     False          False
CHS2020  False  False     False          False
PZ2020   False  False     False          False
WA2020   False  False      True           True
HJ2020   False  False     False          False
           ID  Freq  unit Fee  total_amt_ser
GC2020   True  True      True           True
CHS2020  True  True      True           True
PZ2020   True  True      True           True
WA2020   True  True     False          False
HJ2020   True  True      True           True
             ID  Freq unit Fee  total_amt_ser
GC2020     교촌치킨    12     5000        60000.0
CHS2020    착한식당    50     3000       150000.0
PZ2020       피자    47     3000       141000.0
WA2020   어서와라와라     2    데이터없음            NaN
HJ2020       현지   900      100        90000.0